body {
  margin: 0;
}

.d-flex {
 display: flex;
}

.navbar {
  justify-content: center;
}

.navbar-container {
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.navs {
  text-decoration: none;
  gap: 20px;
}

ul.navs{
  padding-left: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.currency-dropdown {
  position: relative;
  gap: 13px;
}

.currency-icons {
  align-items: flex-end;
  gap: 5px;
}

.currency {
  position: absolute;
  flex-direction: column;
  gap: 20px;
}

ul.navs li a{
  text-decoration: none;
}

.sym {
  margin-right: 5px;
}

